version: "3"
services:
  nginx_static_server:
    build: ./nginx-static-server
    environment:
      ADDITIONAL_NGINX_CONFIG: "
        location /foo {
        return 301 $$scheme://$$http_host/app$$is_args$$args;
        }"
      DEPLOY_ENVIRONMENT: production
      ADDITIONAL_GLOBAL_NGINX_CONFIG: "
        if ($$http_x_cdn_origin_token = \"\") {
          return 403;
        }
      "
    ports:
      - 8080:80
    volumes:
      - ./nginx-static-server/test/static/:/app/dist/production/static
      - ./nginx-static-server/test/index.html:/app/dist/production/index.html
      - ./nginx-static-server/test/redirects.conf:/etc/nginx/conf.d/includes/redirects.conf
